
@media only screen and (min-width: 150px) and (max-width: 1080px) {
  .content {
      width: 100%;
  }
}


.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
  justify-items: center;
  list-style: none;
}

.cards .card {
  width: 200px;
  height: auto;
  box-shadow: 0 0 5px gray;
  padding: 5px;
  border-radius: 8px;
}

.cards .card .card-header {
  width: 200px;
  height: 250px;
}

.cards .card .card-header img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: all 1s;
}

.footer {
  width: 100%;
  height:4vh;
  display: flex;
  justify-content: center;
  background-color: #343434;
  color: white;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #E0DBF2;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #343434;
  color: white;
}

.img-puppy {
  width: 100%;
}
