* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 150px) and (max-width: 1200px) {
  .content {
      width: 100%;
  }

  .carousel {
    height: 90vh;
  }

  .carousel .slide img {
    margin: 10vh auto;
    width: 100vw;
  }
}

body { 
  font-family: Arial, Helvetica, sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
  justify-items: center;
  list-style: none;
}

.cards .pup-card, .pup-card {
  width: 300px;
  height: auto;
  box-shadow: 0 0 5px gray;
  padding: 5px;
  border-radius: 8px;
}

.cards .pup-card .card-header {
  width: 200px;
  height: 250px;
}

.cards .card .card-body {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1.2px;
}

.cards .pup-card .card-header img {
  width: 100%;
  height: 90%;
  object-fit: contain;
  transition: all 1s;
}

.cards .pup-card .card-footer a {
  background-color: white;
  border: 1px solid black;
  padding: 1px 1px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 14px;
}

.footer {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #E0DBF2;
}

.btn {
  background-color: transparent;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.2px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}

.btn:active {
	position:relative;
	top:1px;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 5px;
}

.header .header-link {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 15px;
  border-radius: 4px;
}

.add-puppy, .edit-puppy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #bab1ba;
  padding: 10px 20px;
}

.form-conatiner {
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-bottom: 15px;
  border: black solid 1px;
  padding: 10px 20px;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel .slide {
  height: 80vh;
}

.carousel .slide img {
  max-height: 100%;
  width: auto;
}

.image {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.about-container {
  width: 100%;
  letter-spacing: 1.2px;
}

